.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background: linear-gradient(45deg, #007bff, #000);
    color: #ff5722;
    clear: both;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    color: #000000;
}

.navbar-nav .active a {
    color: white;
    font-weight: 500;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}


.resident-table {
    text-align: center;
}

.resident-table-heading {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
}

.resident-table td {
    vertical-align: middle;
}

.logout-btn {
    color: white;
    border-color: white;
}

.add-btn {

    background-color: #0066ff;
    color: white;
    border-color: white;
}

.add-btn:hover {
    background-color: #ff5722;
    color: white;
    border-color: white;
}

.search-btn {
    background-color: #000000;
    color: white;
    border-color: white;
}

.search-btn:hover {
    background-color: #0066ff;
    color: white;
    border-color: white;
}

.add-resident-btn,
.edit-resident-btn,
.delete-resident-btn {
    font-size: 1.5rem;
    background-color: #0066ff;
    color: white;
    border-color: white;
    width: 180px;
    height: 70px;
}

.add-resident-btn:hover,
.edit-resident-btn:hover,
.delete-resident-btn:hover {
    background-color: #ff5722;
    color: white;
    border-color: white;
}

.table-btn,
.table-btn-anchor {
    background-color: rgb(29, 99, 230);
    color: white;
    border: none;
    width: 80px;
    height: 40px;
}

.table-btn:hover {
    background-color: #ff5722;
    color: white;
    border: none;
}

.add-resident-heading,
.edit-resident-heading,
.delete-resident-heading {
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 30px;
}

.add-resident-form-label,
.edit-resident-form-label,
.delete-resident-form-label {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
}

.add-resident-form-field,
.edit-resident-form-field,
.delete-resident-form-field {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}

.delete-resident-prompt {
    font-family: 'Arial';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.delete-resident-name-field {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.resident-table-container {
    height: 600px;
}

.resident-table-div {
    height: 600px;
}


/* CSS For Dropdown icon */
.admin-text {
    font-family: 'Montserrat', sans-serif !important;
}

#ddown li a {
    color: #000 !important;
    padding: 8px;
    font-family: 'Montserrat', sans-serif !important;
}

#ddown {
    background-color: #ef6969 !important;
    border: none;
}